.project-details {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #CB997E;
  font-family: 'Jost', sans-serif;
  padding-top: 100px;
}

.proj-name {
  color: white;
  font-size: 100px;
  line-height: 100px;
  text-shadow: 2px 2px #DDBEA9;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-align: center;
}